body{
    margin: 0;
}

.screen-one{
    background-color: rgba(55, 6, 23, 1);
    height: 100%;
    max-width: 100%;  
    min-height: 100vh;
    padding: 20px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-two{
    background-color: rgba(250, 163, 7, 1);
    height: 100%;
    width: 100%;  
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_box {
    background-color: rgba(157, 2, 8, 1);
    min-width: 78px;
    min-height: 78px;
    display: flex;
    margin: 10px;
    border-radius: 4px;
}

.container-rectangle-one {
    background-color: rgba(244, 140, 6, 1);
    border-radius: 8px;
    width: 468px;
    height: 160px;
    padding: 20px;
    margin: 20px;
    display: flex;
}

.container-rectangle-two {
    background-color: rgba(244, 140, 6, 1);
    border-radius: 8px;
    width: 468px;
    height: 160px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.container-rectangle-three {
    background-color: rgba(244, 140, 6, 1);
    border-radius: 8px;
    width: 468px;
    height: 160px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.container-rectangle-four {
    background-color: rgba(244, 140, 6, 1);
    border-radius: 8px;
    width: 468px;
    height: 160px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.container-rectangle-five {
    background-color: rgba(244, 140, 6, 1);
    border-radius: 8px;
    width: 468px;
    height: 160px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between
}

.container-rectangle-six {
    background-color: rgba(244, 140, 6, 1);
    border-radius: 8px;
    width: 468px;
    height: 160px;
    padding: 20px;
    margin: 20px;
    display: flex;
}

.container-rectangle-one .container_box {
    align-self: flex-end;
}

.container-rectangle-two .container_box {
    align-self: center;
}

.container-rectangle-three .container_box {
    
}

.container-rectangle-four .container_box {
   
}

.container-rectangle-five .container_box {
    align-self: flex-start;
}
.container-rectangle-five .container_box:nth-child(3) {
    align-self: flex-end;
}




